<h1 mat-dialog-title>Task Details</h1>
<hr>
<div mat-dialog-content>
  <div class="row">
    <div class="col-sm-5"><b>Status:</b></div>
    <div class="col-sm-7">{{data.Status}}</div>
  </div>
  <div class="row">
    <div class="col-sm-5"><b>Quote:</b></div>
    <div class="col-sm-7">{{data.Quote}}</div>
  </div>
  <div class="row">
    <div class="col-sm-5"><b>Quote Number:</b></div>
    <div class="col-sm-7">{{data.QuoteNumber}}</div>
  </div>
  <div class="row">
    <div class="col-sm-5"><b>Quote Type:</b></div>
    <div class="col-sm-7">{{data.QuoteType}}</div>
  </div>
  <div class="row">
    <div class="col-sm-5"><b>Contact:</b></div>
    <div class="col-sm-7">{{data.Contact}}</div>
  </div>
  <div class="row">
    <div class="col-sm-5"><b>Task Description:</b></div>
    <div class="col-sm-7">{{data.TaskDescription}}</div>
  </div>
  <div class="row">
    <div class="col-sm-5"><b>Task Type:</b></div>
    <div class="col-sm-7">{{data.TaskType}}</div>
  </div>
  <div class="row">
    <div class="col-sm-5"><b>Due Date:</b></div>
    <div class="col-sm-7">{{data.DueDate}}</div>
  </div>
</div>